.App {
  text-align: center;
  max-width: 100%;
}

.flex {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.pointer {
  cursor: pointer;
}

.answer {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.mt-4 {
  margin-top: 32px;
}