.footer-common {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    bottom: 0;
    width: 100%;
    height: 40px;
    background-color: white;
    color: grey;
}