.body-common {
    margin-top: 60px;
    /*margin-bottom: 40px;*/
}

.body-on {
    position: relative;
}

.body-under {
    width: 100%;
    height: 300px;
    background-color: #282c34;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.gate {
    position: absolute;
    margin-top: -170px;
    color: white;
    width: 100%;
}

.link-icon {
    display: inline-block;
    margin: 6px 12px 0px 0px;
    width: 40px;
    height: 40px;
    border-radius: 25%;
}

.timeline {
    height: 300px; /*not necessary in future*/
    border: 0.5px dotted grey;  /*not necessary in future*/
    background-color: lavender;
    display: flex;
    justify-content: center;
    align-items: center;
}

.rest {
    height: 300px; /*not necessary in future*/
    border: 0.5px dotted grey;  /*not necessary in future*/
    background-color: floralwhite;
    display: flex;
    justify-content: center;
    align-items: center;
}

.title-out {
    position: relative;
    width: 100%;
    height: 50px;
}

.title-in {
    border-bottom: solid 4px black;
    margin-left: auto;
    margin-right: auto;
    display: inline-block;
}

.skin {
    position: relative;
}

.bottom {
    position: absolute;
    bottom: 0;
}

.flex-gallery {
    display: flex;
    width: 100%;
}

.flex-last {
    display: none;
}

.flex-gallery > div:hover {
    cursor: pointer;
}

.flex-last > div:hover {
    cursor: pointer;
}

.more {
    cursor: pointer;
    margin-top: 32px;
}

.invisible {
    display: none;
}

.each-gallery {
    padding: 4px;
    width: 100%;
    max-height: 150px;
    max-width: 150px;
}


@media(min-width: 768px){ /*PC*/
    .photo {
        width: 300px;
    }

    .mb-more {
        margin-bottom: 50px;
    }

    .bg-white {
        background-color: white;
        padding-top: 40px;
        padding-bottom: 40px;
    }

    .bg-grey {
        background-color: whitesmoke;
        padding-top: 40px;
        padding-bottom: 40px;
    }

    .skill {
        /*padding: 24px;*/
        width: 100%;
        height: 100%;
    }

    .top_gallery {
        display: flex;
        margin-top: 72px;
    }

    .flex-last {
        display: none;
    }
}

@media(max-width: 767px){ /*Mobile*/
    .photo {
        width: 90%;
        max-width: 230px;
        border-radius: 50%;
    }

    .mb-more {
        margin-bottom: 64px;
    }

    .bg-white {
        background-color: white;
        padding-top: 30px;
        padding-bottom: 30px;
    }

    .bg-grey {
        background-color: whitesmoke;
        padding-top: 30px;
        padding-bottom: 30px;
    }

    .skill {
        padding: 20px;
        width: 60%;
        height: 60%;
    }

    .top_gallery {
        display: block;
        margin-top: 72px;
    }

    .flex-last {
        display: flex;
        width: 100%;
    }
}
