.full {
    height: 100vh;
    width: 100vw;
}

.typingtool {
    text-align: right;
    height: 20%;
    margin: 5px;
    border: 2px solid #bbbbbb;
}
.flex_typingtool {
    height: 50%;
    width: 100%;
    padding: 2px;
}
.flex_typingtool > div {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.typing {
    font-size: 25px;
    width: 95%;
    height: 70%;
    margin: 5px;
}
.shadow_typing {
    font-size: 15px;
    color: #bbbbbb;
    width: 90%;
    height: 30%;
    margin: 5px;
}
.caltool {
    font-size: 20px;
    height: 80%;
    margin: 5px;
    background-color: #eeeeee;
}
.flex_cartool {
    display: flex;
    height: 20%;
}

.flex_cartool > div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex_cartool > div:hover {
    background-color: antiquewhite;
    cursor: pointer;
}

.first_three {
    width: 75%;
    text-align: center;
    text-color: #ffffff;
    border: 0.2px solid #eeeeee;
    background-color: #dddddd
}
.first_one {
    width: 25%;
    border: 0.2px solid #dddddd;
    text-align: center;
}
.rest_one {
    width: 25%;
    border: 0.2px solid #dddddd;
    text-align: center;
}
.rest_two {
    width: 50%;
    border: 0.2px solid #dddddd;
    text-align: center;
}