.cell {
    border: 1px #ccc solid;
    background-color: #eee;
    height: 20px;
    width: 20px;
}

.cell:hover {
    cursor: pointer;
}

.cell.open {
    background-color: #fff;
    text-align: center;
}

.cell.flag { /* 임시 이미지임 */
    background: url("./flag_icon.jpg") center / cover;
}

.cell.mine {
    background: url("./mine.png") center / cover;
}

.cell.mine.open {
    border: 2px solid red;
}

.row {
    display: flex;
}

#status {
    font-weight: 700;
}

#status.win {
    color: blue;
}

#status.lose {
    color: red;
}
