.cell {
    border: 1px black solid;
    height: 20px;
    width: 20px;
}

.cell:hover {
    cursor: pointer;
}

.cell.open {
    background-color: black;
}

.cell.flag {
    background-color: red;
}

.cell-parent {
    display: flex;
}